<!-- card-component.component.html -->
<div class="project-card">
  <div class="project-content">
    <img class="project-image" [src]="imageUrl" [alt]="title">
    <div class="project-details">
      <h3 class="project-title">{{ title }}</h3>
      <p class="project-description">{{ description }}</p>
      <div class="project-buttons">
        <a [routerLink]="['/' + projectUrl]" target="_blank" rel="noopener noreferrer">
          <button type="button"><i class="fa-solid fa-eye"></i> View Project</button>
        </a>
        
        <a href="{{ sourceUrl }}" target="_blank" rel="noopener noreferrer">
          <button type="button"><i class="fa-solid fa-code"></i></button>
        </a>
      </div>
    </div>
  </div>
</div>
