.project-card {
    display: flex;
    align-items: center;
    width: 95%;
    height: 25vh;
    border: 1px solid transparent;
    border-radius: 8px;
    overflow: hidden;
    //transition: border 0.3s ease-in-out, transform 0.3s ease-in-out;
    background-color: var(--color-main-theme); /* Initial background color */
    margin: 20px;
  }
  
  .project-content {
    display: flex;
    align-items: center;

    width: 100%;
  }
  
  .project-card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    
    background-color: var(--color-main-theme-secondary); /* Slightly darker background on hover */
    border-color: #009dff; /* Slightly visible border on hover */
  }
  
  .project-image {
    width: auto;
    height: 15vh;
    //border-radius: 8px 0 0 8px;
    object-fit: cover;
    padding: 10px;
  }
  
  .project-details {
    flex: 1;
  padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .project-title {
    margin-top: 0;
    color: var(--color-text-faded);
    font-size: 18px;
    font-weight: 600;
    letter-spacing: .05rem;
  }
  
  .project-description {
    color: var(--color-text-faded);
    font-size: 14px;
    line-height: 1.5;
  }
  
  .project-buttons button {
    background-color: var(--color-nav-bar);
    color: white;
    border: none;
    padding: 5px 10px;
    margin-right: 5px;
    border-radius: 75px;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .project-buttons button:hover {
    background-color: #6494edaa;
  }
  