<div class="containers">
   <div class="component-container"> <app-text-container [title]="aboutMeTitle" [content]="aboutMeText"></app-text-container></div>
<div class="component-container">  <app-text-container [title]="programmingTitle" [content]="programmingText"></app-text-container></div>
<div class="component-container"> <app-text-container [title]="goalsTitle" [content]="goalText"></app-text-container></div>
<div class="component-container"> <app-text-container [title]="hobbiesTitle" [content]="hobbyText"></app-text-container></div>
</div>
<div class="work-experience">
    <h1>Work Experience:</h1>
</div>