   <div class="banner-container">
    <div class="top-of-banner">
        <div  class="profile-img">
            <img src="assets/images/portrait.jpg" alt="Portrait">
            <div class="nav-div"><nav>
                <a [ngClass]="{'active': currentSection === 'about'}" (click)="scrollTo('about')">About</a>
                <a [ngClass]="{'active': currentSection === 'skills'}" (click)="scrollTo('skills')">Skills</a>
                <a [ngClass]="{'active': currentSection === 'experience'}" (click)="scrollTo('experience')">Experience</a>
                <a [ngClass]="{'active': currentSection === 'projects'}" (click)="scrollTo('projects')">Projects</a>
              </nav>
            </div>
        </div>
       
        <div class="scrollable-content" #scrollableElement>
            <div class="subscrollable-content">
        <div #section id="about" class="slogan">
            <h1>Hi, I'm Jordan</h1>
            <p>A tech enthusiast blending creativity with cutting-edge technology. With expertise spanning from full-stack applications with
                <span style="color: #7ebbf1; font-weight: bold;">Angular </span> and <span style="color: #7ebbf1; font-weight: bold;">AWS</span>
                 to game development utilising <span style="color: #7ebbf1; font-weight: bold;">Unity</span> & 
                 <span style="color: #7ebbf1; font-weight: bold;">Unreal</span>, I thrive in cloud environments, continuously learning and 
                adapting to the best tools for developing innovative experiences. My passion extends to creating utility and data tools such as my covid-19 tracker, new-release finder and html template generator. I love to leverage geospatial data to make information more accessible.
                <br><br>
                Beyond the screen, I immerse myself in nature through hiking, gardening and learning about horticulture, 
                otherwise I am working on exciting new projects. I enjoy challenges and the opportunity to diversify my skills, constantly pushing to discover what I can create with tech while ensuring I understand the technology to the best of my ability.</p>
                <p>

                    I have honed my skills in full-stack cloud development, working at data driven companies I have experience working in a Data Driven Development (<span style="color: #7ebbf1; font-weight: bold;">DDD</span>) environment. 
                    My primary current tech-stack utilises 
                    <span style="color: #7ebbf1; font-weight: bold;">Angular</span>
                    , 
                    <span style="color: #7ebbf1; font-weight: bold;">AWS Lambda</span>
                     using 
                     <span style="color: #7ebbf1; font-weight: bold;">Golang</span>
                    , 
                    <span style="color: #7ebbf1; font-weight: bold;">Python</span>
                     or 
                     <span style="color: #7ebbf1; font-weight: bold;">Nodejs</span>
                     , 
                     <span style="color: #7ebbf1; font-weight: bold;">Rxjs</span>
                      , 
                      <span style="color: #7ebbf1; font-weight: bold;">API Gateway</span>
                      , 
                      <span style="color: #7ebbf1; font-weight: bold;">DynamoDB NoSQL</span>
                      , 
                      <span style="color: #7ebbf1; font-weight: bold;">SQL</span>
                      , 
                      <span style="color: #7ebbf1; font-weight: bold;">S3</span>
                       , 
                       <span style="color: #7ebbf1; font-weight: bold;">Cloudfront</span> and
                       <span style="color: #7ebbf1; font-weight: bold;">Bitbucket</span>.

                       <br> <br> While this is my actively practicing tech-stack I also have some experience in Reactjs, C#, PHP, C++ & Java
                </p>
        </div>
        <div #section id="skills" class="technologies">
            <!--<span>Education</span> -->
            <div class="education-and-certs">
                <img src="../../../assets/technologies/AWS-Certified.png">
                <img src="../../../assets/technologies/Azure-SC-certified.webp">
                <img src="../../../assets/technologies/azure-ai-fundamentals-600x600.png">
                <img src="../../../assets/technologies/usclogo.png">
            </div>
            <!--<span>Technologies</span> -->
            <div class="software">
                <img src="../../../assets/technologies/angularjs_logo.png">
                <img src="../../../assets/technologies/aws.png">
                <img src="../../../assets/technologies/github-purple.png">
                <img src="../../../assets/technologies/docker.svg">
                <img src="../../../assets/technologies/atlassianicon.svg">
            </div>
            <!--  <span>Languages</span> -->
            <div class="languages">
                
                <img src="../../../assets/technologies/css-logo.png">
                <img src="../../../assets/technologies/html-logo.png">
                <img src="../../../assets/technologies/js-logo.png">
                <img src="../../../assets/technologies/python-logo.png">
                <img src="../../../assets/technologies/node-icon.png">
            
        </div>
        </div>
       
        <div #section id="experience" class="job-content ontap">
            <div class="date-range"><p>2023 - Present</p></div>
            <div class="work-experience-content">
            
            <h2>Ontap Data | Full-stack Software Developer</h2>
            
            <p>Collaborated with other developers to develop data driven web-applications for 
            internal and external use gathering feedback weekly from large liquor retailers
            such as Thirsty Camel and Independant Liquor Retailer. Built, Styled and Worked closely with cross-functional
            teams to implement more secure and efficient best practices. </p>
            
            <ul>
                <li><strong>Modernised UI/UX for Critical Client Application:</strong> Transformed the UI/UX of a key application, enhancing usability and aesthetic appeal using a mobile-first approach. Implemented modern design principles and technologies to improve navigation, interaction, and overall user satisfaction, leading to increased engagement and positive client feedback.</li>
                <li><strong>Dynamic Notification System:</strong> Designed and implemented a notification system on user dashboards to monitor data integrity. This system alerts users about missing data, last update times, and data inaccuracies by leveraging API responses, creating a better user experience by enabling proactive data management and reducing error rates.</li>
                <li><strong>Custom Spreadsheet Templates:</strong> Created client-specific spreadsheet templates using pdfmake for dynamic PDF report generation. Tailored solutions to individual client needs, significantly improving data presentation and streamlining their report creation processes.</li>
                <li><strong>Optimised Asynchronous Request Handling:</strong> Improved application responsiveness and state management by utilising RxJS for asynchronous data handling, and fine tuning API endpoints. This approach minimized delays and improved user interface interactions by reducing the reliance on the previous local storage state management, leading to a more robust and efficient user experience.</li>
                <li><strong>Documentation Site:</strong> Developed a comprehensive Documentation Site using Angular, S3 and AWS CloudFront for efficient content delivery. Allowing for internal adjustments to documentation without technical experience & providing external documentation while reliance of confluence pages.
                    <ul>
                        <li>CI/CD: Implemented CI/CD pipelines using Bitbucket, enhancing the deployment process and ensuring consistent code quality and deployment practices.</li>
                        <li>Custom Template Generation: Wrote Bash scripts to generate Angular components with custom templates, significantly simplifying the addition of new pages and handling routing automatically. This script reduced technical barriers and streamlined content updates for the documentation site.</li>
                        <li>Developed a custom WYSIWYG Editor for in-house custom editing for our non-technical employees, which integrated with the bitbucket API allowing technical employees to overlook edits and changes to documentation.</li>
                    </ul>
                </li>
            </ul>
            
            <div class="skills">
                <div class="skill">Angular</div>
                <div class="skill">JavaScript</div>
                <div class="skill">HTML & CSS</div>
                <div class="skill">TypeScript</div>
                <div class="skill">SQL</div>
                <div class="skill">NodeJS</div>
                <div class="skill">PHP</div>
                <div class="skill">AWS Lambda</div>
                <div class="skill">S3</div>
                <div class="skill">Cloudfront</div>
                <div class="skill">API Gateway</div>
                <div class="skill">Bitbucket</div>
                <div class="skill">WordPress</div>
            </div>
        </div>
   
    </div>
   
    
  
        <div class="job-content suncoast">
            <div class="date-range"><p>2020 - 2023</p></div>
            <div class="work-experience-content">
            <h2>Suncoast Caravan Service | Wordpress Developer</h2>
            <p>
            Built and Maintained critical components for a wordpress based e-commerce caravan retailer. Optimised website performance enhancing SEO rankings, created internal tools to
            significiantly improve workflow efficiency and enabled more acurrate data collection for more insight.
            </p>
            <ul>
                <li><strong>RESTful APIs:</strong> Integrated and managed dynamic RESTful APIs using PHP and JavaScript, enhancing ecommerce operations with WooCommerce.</li>
                <li><strong>Shipping Calculator:</strong> Utilized provided cost data to create a tool that calculates shipping costs from multiple warehouse locations to the customer’s area code across various postage services. Enabled identification of the most cost-efficient postage provider, optimizing logistics and reducing operational expenses.</li>
                <li><strong>Advanced Web Scraping:</strong> Developed web scraping tools to extract product descriptions and UIDs from partner websites, facilitating efficient product listings when CSV files were unavailable. Also employed scraping techniques to monitor competitor pricing, enabling competitive pricing strategies and enhancing market positioning.</li>
                <li><strong>Template Generator:</strong> Created a user-friendly generator that allows non-technical staff to produce HTML and CSS templates for eBay listings, streamlining content creation and enhancing delivery efficiency.</li>
                <li><strong>Marketplace Analytics:</strong> Implemented Google Tag Manager and Meta Business tools for deploying marketplace analytics on eBay. This strategic integration significantly increased customer engagement and provided deeper insights into consumer behavior.</li>
                <li><strong>Optimisation Site Speed & SEO:</strong> Achieved a 70% improvement in site speed through comprehensive SEO optimization, code refactoring, image optimization, and caching techniques. This enhancement significantly boosted user experience, reducing bounce rates and increasing user retention bringing initial load speed from 7.8s to 2.2s.</li>
                <li><strong>Image Optimisation:</strong> Streamlined product listings and employed advanced image optimization techniques, leading to enhanced visibility and superior website performance. These improvements facilitated a more engaging user experience and increased conversion rates.</li>
            </ul>
            <div class="skills">
                <div class="skill">JavaScript</div>
                <div class="skill">HTML & CSS</div>
                <div class="skill">JQuery</div>
                <div class="skill">SQL</div>
                <div class="skill">Python</div>
                <div class="skill">PHP</div>
                <div class="skill">WordPress</div>
            </div>
            </div>
    </div>
   
    </div>
        <div #section id="projects" class="projects">
            <app-card
            imageUrl="../../../assets/images/movie-application-thumbnail.png"
            title="New Release Finder"
            description="Quickly find new releases for the streaming services you own."
            projectUrl="movie-list"
            sourceUrl="https://github.com/JordanKnipe/portfolio-v1/tree/master/src/app/applications/movie-list"
            >
            </app-card>
            <app-card
            imageUrl="../../../assets/images/todoapp-thumbnail.png"
            title="Todo App"
            description="A very simple CRUD application to show-case AWS crud skillset"
            projectUrl="todo"
            sourceUrl="https://github.com/JordanKnipe/portfolio-v1/tree/master/src/app/applications/todo"
            >
            </app-card>

        
        </div>
        
    </div>
</div>
</div> 
    

