<div class="main-container">
<div #section id="projects" class="projects">
    <div class="project-demo">
    <app-card 
    imageUrl="../../../assets/images/movie-application-thumbnail.png"
    title="New Release Finder"
    description="Quickly find new releases for the streaming services you own."
    projectUrl="http://localhost:4200/movie-list"
    sourceUrl="https://github.com/JordanKnipe/portfolio-v1/tree/master/src/app/applications/movie-list"
    >
</app-card>
</div>
<div class="project-demo"> 
    
    <app-card 
    imageUrl="../../../assets/images/movie-application-thumbnail.png"
    title="New Release Finder"
    description="Quickly find new releases for the streaming services you own."
    projectUrl="http://localhost:4200/movie-list"
    sourceUrl="https://github.com/JordanKnipe/portfolio-v1/tree/master/src/app/applications/movie-list"
    >
</app-card>
</div>


</div>
</div>