nav {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    //height: var(--height-minus-header); /* Full height */
    transition: width 0.3s ease;
    background-color: var(--color-main-theme-header); /* Background color for the sidebar */
    white-space: nowrap;
    overflow-x: hidden;
    padding-top: var(--header-height);
    z-index: 1;
  }
  @media only screen and (max-width: 1175px) {
    nav.collapsed {
    
      //height: var(--height-minus-header);
    }
    nav.expanded{
      //height: var(--height-minus-header-expanded);
    }
  }
  nav.collapsed {
    width: 50px; /* Width when collapsed */
  }
  
  nav.expanded {
    width: 250px; /* Width when expanded */
  }
  
  nav.collapsed ol li a span {
    display: none; /* Hide text when collapsed */
  }
  
  nav.expanded ol li a span {
    display: inline; /* Show text when expanded */
  }
  
  .fa-solid {
    color: var(--color-text-faded);
    margin-right: 1.2rem;
  }
  .fa-solid:hover {
    color: var(--color-nav-bar);
    
  }
  ol {
    list-style: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
    margin-left: 1rem;
    
  }
   
  
  a {
    text-decoration: none;
    color: var(--color-text-faded);
  
    align-items: center;
  }
  
  a:hover {
    color: var(--color-nav-bar);
  }
  