/* You can add global styles to this file, and also import other style files */
:root{
    --header-height: 50px;
    --height-minus-header: calc(100vh - var(--header-height));
    --height-minus-header-expanded: calc(100% + var(--header-height) + 60px);
    
    //--height-minus-header: calc(100% - var(--header-height));
}
p{
    font-size: 1rem;
}
@media only screen and (max-width: 955px) {
    :root{
        --header-height: 50px;
    //--height-minus-header: calc(100vh - var(--header-height));
    //--height-minus-header: calc(100vh - var(--header-height));
    //--height-minus-header: calc(100%);
    --height-minus-header-expanded: calc(100% + var(--header-height) + 60px);
    }
  }
*{
    font-family: 'Roboto', sans-serif;
    letter-spacing: .05rem;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--color-main-theme);
}

[data-theme="light"] {
    //Lightmode:
    --color-main-theme-header: #242630;
    --color-main-theme: #e3e3ef;
    --color-main-theme-secondary: #d9d9e4af;
    --color-nav-highlight: linear-gradient(to right, #4c6994, #00ff0000); 
    --color-lower: #c5c5c5;
    --color-mid: #def1da;
    --color-higher: #ffffff;
    --color-text: #131313;
    --color-text-faded: rgb(94, 94, 94);
    --text-color:black;
    --color-border: #ccc;
    --color-input-field: #fff;
    --color-main-theme-lightest:linear-gradient(to bottom, var(--color-lower), var(--color-mid));
    --color-main-theme-lightest:linear-gradient(to bottom, var(--color-main-theme), var(--color-lower),var(--color-lower), var(--color-lower), var(--color-main-theme));
     --color-inverse-background-gradient: linear-gradient(to bottom,var(--color-lower), var(--color-mid), var(--color-higher));
     --highlighted-text: #def1da;
     --color-tags: #379ac299;
     --color-tag-text: #eef6f9;
     --color-nav-bar: #6495ed;
     --color-button-gradient: radial-gradient(circle at 12.3% 19.3%, rgb(85, 88, 218) 0%, rgb(95, 209, 249) 100.2%);
    
 }
 
 [data-theme="dark"] {
     --color-nav-bar: #6495ed;
     --color-gradient-light: #6495ed;
     --color-gradient-dark: #4668a7;
     --color-main-theme-header: #242630;
     --color-main-theme: #2e3141;
     --color-main-theme-secondary: #3f435a;
     --color-main-theme-lightest:linear-gradient(to bottom, var(--color-main-theme), var(--color-lower),var(--color-lower), var(--color-lower), var(--color-main-theme));
     --color-button-gradient: radial-gradient(circle at 12.3% 19.3%, rgb(85, 88, 218) 0%, rgb(95, 209, 249) 100.2%);
     --color-tags: #00b7ff94;
     --color-tag-text: #c8efff;
     --color-text: #ffffff;
     --color-text-faded: #a7b3cc;
     --color-input-field: #dde6f3;
   --color-nav-highlight: linear-gradient(to right, #071632, #00ff0000); 
   --text-color:rgb(255, 255, 255);
   --color-lower: #4e5685;
   --color-mid: #82a2c9;
   --color-higher: #a3bbdb;
   --color-background-gradient: linear-gradient(to top,var(--color-lower), var(--color-mid), var(--color-higher));
   --color-inverse-background-gradient: linear-gradient(to bottom,var(--color-lower), var(--color-mid), var(--color-higher));
   --highlighted-text: #82a2c9;
 }

*{
   font-family: 'Roboto';
   margin: 0px;
}